@{
    Layout = "AdminLayout";
}

@model IEnumerable<Barinak_Sistemi.Models.ShelterUsers>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Sahiplenme Tablosu</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animalShelter.css" />

</head>
<body>
    <div class="container">
        <h1 class="my-4">Hayvan Sahiplenme Tablosu - Admin</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Kişi Adı</th>
                    <th scope="col">Soyadı</th>
                    <th scope="col">Email</th>
                    <th scope="col">Numara</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col">Sebep</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.shelterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.shelterSurName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.shelterGender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.shelterPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.reason)
                        </td>


                        <td>
                            <a href=""><button type="submit" class="btn btn-success"><span>Kabul</span></button></a> |

                            <a href=""><button type="submit" class="btn btn-danger"><span>reddet</span></button></a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</body>
</html>
