@{
    Layout = "AdminLayout";
}

@model IEnumerable<Barinak_Sistemi.Models.DropAnimal>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayvan Sahiplenme Tablosu</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animalShelter.css" />

</head>
<body>
    <div class="container">
        <h1 class="my-4">Hayvan Kabul Tablosu - Admin</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th scope="col">Hayvan Adı</th>
                    <th scope="col">Hayvan Türü</th>
                    <th scope="col">Yaşı</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col">Açıklaması</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DropAName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DropAType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DropAAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DropAGender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DropADescription)
                        </td>


                        <td>
                            <a asp-action="" asp-controller="Admin"><button class="btn btn-danger">Reddet</button></a> |
                            <a asp-action="" asp-controller="Admin"><button class="btn btn-success">Kabul Et</button></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>
